// ======================================================================================
// Error list
// ======================================================================================

.error-list {
    padding: 0;
    margin: 0.35rem 0 0 0;
}

.error-list li {
    color: $color-red-light;
    list-style-position: inside;
}
