// ======================================================================================
// Layout
// Styles that affect the application structure
// ======================================================================================

// .main-container {
//     min-height: 100vh;
// }

// .main-content-outer-wrap {
//     display: flex;
//     min-height: 100vh;
// }

// .main-content-inner-wrap {
//     flex-grow: 1;
// }

// .main-content {
//     padding-bottom: 4rem;
// }

// .main-content-loading {
//     display: flex;
//     width: 100%;
//     height: calc(100vh - 4.8125em);
// }

// .container-fluid {
//     padding: 0 1.7em;
// }

// .page-header {
//     padding-bottom: 1.75rem;
//     display: flex;
//     justify-content: space-between;
// }
