// ======================================================================================
// Utility classes
// ======================================================================================

// .clearfix:after {
//     content: '';
//     display: table;
//     clear: both;
// }

// .hidden {
//     display: none;
// }

// .no-wrap {
//     white-space: nowrap;
// }

// .relative-container {
//     position: relative;
// }

// .link {
//     color: #692b88;
//     &:hover { color: darken(#692b88, 10%); }
// }

// .link-strong {
//     font-weight: 600;
// }
